@using SoftUniJobPlatform.Data.Models
@model SoftUniJobPlatform.Web.ViewModels.Categories.AllCategoriesViewModel
@{
    ViewData["Title"] = "DeleteCategory";
}

<h1>DeleteCategory</h1>


<form asp-controller="Dashboard" asp-action="DeleteCategory">

    <select 
            asp-items="@(new SelectList(Model.Categories,"Id","Title"))">
        <option>Please select one</option>
    </select>
    


</form>
