@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1 align="center">@this.ViewData["Title"]</h1>

<div class="button-holder">
    <a asp-controller="Dashboard" asp-action="CreateCategory" class="btn btn-info text-uppercase">Create Category</a>
    <a asp-controller="Dashboard" asp-action="CreateCategory" class="btn btn-info text-uppercase">Create Category</a>
    <a asp-controller="Dashboard" asp-action="RoleManagement" class="btn btn-info text-uppercase">Roles</a>
</div>
