

<span>Current Role: @ViewBag.currentRole</span>
<a class="card-footer">
    <a asp-action="AddModerator" asp-route-userId="@ViewBag.UserId"
       class="btn btn-primary">
        Moderator
    </a>
</a>
