@using SoftUniJobPlatform.Data.Models
@using SoftUniJobPlatform.Services.Data
@model SoftUniJobPlatform.Web.ViewModels.Course.CourseViewModel
@inject ICategoriesService Categories
@{

    ViewData["Title"] = "Create";
}

<h1 align="center">New Course</h1>
<hr />
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-8 col-md-8 col-lg-6">
            <form asp-action="CreateCourse" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Title</label>
                    <input asp-for="Title" class="form-control"  placeholder="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Choose Category</label>
                    <select asp-for="CategoryId" class="form-control"
                            asp-items="@(new SelectList(Categories.GetCategories(), "Id", "Title"))">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger" />
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label">Job Requerments</label>
                    <textarea asp-for="Description" class="form-control" rows="3" placeholder="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-6">
                    <label asp-for="Image"></label>
                    <div>
                        <input asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>



                <div class="form-group">
                    <input type="submit" value="CreateCourse" class="btn btn-primary" />
                </div>


            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
