


    <div class="text-center">
        <h1 class="display-4">Choose your type</h1>

        <button type="button" class="btn btn-primary btn-lg">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">UserRegister</a>
        </button>
        <button type="button" class="btn btn-secondary btn-lg">Company`s </button>


        <button type="button" class="btn btn-primary btn-lg">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/StudentRegister">StudentRegister</a>
        </button>
        <button type="button" class="btn btn-secondary btn-lg">Company`s </button>
    </div>